// PRIMARY COLOR (10)
// ACTION
$primary-color-10: #5A94B4;
$primary-color-10-hover: aliceblue;
$primary-color-10-active: lightblue;

$primary-background-color-10: transparent;
$primary-background-color-10-hover: aliceblue;
$primary-background-color-10-active: lightblue;

// SECONDARY COLOR (30)
// INFORMATIONAL
$secondary-color-30: lightskyblue;
$secondary-color-30-hover: skyblue;
$secondary-color-30-active: white;

$secondary-background-color-30: transparent;
$secondary-background-color-30-hover: aliceblue;
$secondary-background-color-30-active: lightskyblue;

// TERTIARY COLOR (60)
// PASSIVE
$tertiary-color-60: #F6FDFF;
$tertiary-color-60-hover: aliceblue;
$tertiary-color-60-active: lightblue;

$tertiary-background-color-60: transparent;
$tertiary-background-color-60-hover: aliceblue;
$tertiary-background-color-60-active: lightblue;

// TEXT
$primary-text-family: 'Josefin Sans', sans-serif;
$primary-text-size: 56px;

$secondary-text-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$secondary-text-size: 20px;